/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */

:root {
    --main-font: 'Inter';
    --main-wght-title: 700;
    --main-wght-text: 400;
    --accent-font: 'PressStart2P';
    --bg-color: #FFF;
    --accent-color: #000;
    --width: clamp(23.188rem, 16.035rem + 30.516vw, 696px);
    --color-shadow: #FFFFFF;
    --color-inversion: #FFF;
    --main-color: #d3d3d3;
    --color-from: #e7e7e7;
    --color-to: #1a1a1a;
    --contour-heart: #000000;
    --main-heart: #FF0000;
    --core-heart: #000000;
    --body-heart: #000000;
  }


